@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	font-family: 'Helvatica', TimesNewRoman, 'Times New Roman', Times,
		Baskerville, Georgia;
}

body {
	margin: 0;
	background: linear-gradient(180deg, #8cacd8 0%, #577eb1 90%, #638fca 100%);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
