.header {
	background: #666560;
	padding: 1rem;
}

.header h2 {
	margin: 0;
	color: white;
}

.content {
	padding: 1rem;
	display: block;
	background-color: white;
}

label {
	padding-right: 1rem;
	font-size: 1.5rem;
	font-family: inherit;
}

input {
	width: 1.5rem;
	height: 1.5rem;
}

.actions {
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
	background-color: white;
}

.form-input {
	display: block;
}

@media (min-width: 768px) {
	.modal {
		left: calc(50% - 20rem);
		width: 40rem;
	}
}
