.header {
	background: #666560;
	padding: 1rem;
}

.header h2 {
	margin: 0;
	color: white;
}

.content {
	padding: 1rem;
	display: block;
	background-color: white;
}

label {
	padding-right: 1rem;
	font-size: 1.5rem;
	font-family: inherit;
}

input {
	width: 1.5rem;
	height: 1.5rem;
	padding: 0.5rem;
	text-align: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

.actions {
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
	background-color: white;
	column-gap: 2rem;
}

.form-input {
	padding-bottom: 1rem;
}

.number-input {
	width: 3rem;
}
@media (min-width: 768px) {
	.modal {
		left: calc(50% - 20rem);
		width: 40rem;
	}
}
