.control {
	width: 30%;
}

.header {
	font: inherit;
	font-size: 12pt;
	padding: 0.5rem 0.4rem 0.5rem 0.4rem;
	margin-bottom: 0.5rem;
	resize: none;
}

.header-controls {
	display: flex;
	justify-content: space-between;
	align-items: start;
	margin-top: 2rem;
}

.header-left-controls {
	flex-direction: row;
}

.header-right-controls {
	flex-direction: row-reverse;
}

.align-btn {
	margin-top: 5px;
}
