.control {
	display: flex;
	flex-direction: column;
}

.header {
	font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia,
		serif;
	font-size: 18px;
	padding: 0.5rem 0.4rem 0.5rem 0.4rem;
	font: inherit;
	margin-bottom: 0.5rem;
	width: 30%;
}

.header-left {
	align-self: start;
}

.header-right {
	align-self: end;
}

.btn-container {
	flex: 1;
	display: flex;
	justify-content: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
