.control {
	display: flex;
	flex-direction: column;
}

input {
	border: 1px solid #ccc;
	width: 80%;
	height: 3rem;
	font: inherit;
	text-align: center;
	font-size: large;
	font-weight: bold;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	align-self: center;
}
