.label {
	font: inherit;
	font-size: 17pt;
}
.control {
	width: 100%;
	display: flex;
	justify-content: stretch;
	align-items: start;
}

.question-field {
	font: inherit;
	font-size: 12pt;
	width: 100%;
	resize: none;
}

.rmv-btn {
	margin-bottom: 1rem;
}
