.container {
	overflow-x: scroll;
	display: flex;
	flex-direction: row;
	justify-content: center;
	min-width: 9in;
}

.test-form {
	background-color: white;
	min-width: 8.5in;
	box-sizing: border-box;
	padding-left: 1in;
	padding-right: 1in;
	box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.7);
}

.add-rmv-btn {
	display: block;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
