.test-form {
	background-color: white;
	width: 55rem;
	padding-right: 96px;
	padding-left: 96px;
	padding-top: 2rem;
	padding-bottom: 2rem;
	box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.7);
}

.add-rmv-btn {
	display: block;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
